{% extends 'layout/base.html' %}
{% block content %}

{% if flights %}
<div class="row">
    {% for f in flights %}
    <div class="col-md-3 col-sm-12" style="padding:1rem;">
        <div class="card">
            <img class="card-img-top style=" height=350px"; src="{{ f.airlines.from_airport.image }}"
                 alt="{{ f.airlines.from_airport.image }}">
            <div class="card-body">
                <h1 class="card-title">{{ f.airlines.from_airport.location }}</h1>
                <h4 class="card-title">{{ f.airlines.name }}</h4>
                <h4 class=> {{ f.departing_at }}</h4>
                <H4 class="card-text"> {{ f.arriving_at }}</H4>
                <a href="/flight/{ flight_id }" class="btn btn-primary">Xem chi tiết</a>
                <a href="/flight/{ flight_id }" class="btn btn-primary">Xem chi tiết</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-danger">Không có sản phẩm nào!</p>
{% endif %}

{% endblock %}

